---
import '../style.css'
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
---
<PrimaryLayout>
  <h2>Hello World</h2>
  <!-- Header -->
  <!-- three-cols -->
    <!-- Featured Article -->
    <!-- New Articles -->
  <!-- three-cols -->
    <!-- Popular Articles -->
</PrimaryLayout>
