---
import '../style.css'
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
---
<PrimaryLayout>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos, sit aliquid praesentium blanditiis recusandae, officia perspiciatis similique magni rerum cumque dolor et atque pariatur explicabo, autem vitae corrupti optio.</li>
    <li>Quidem cupiditate voluptatem numquam blanditiis optio suscipit sunt natus aliquam harum, quia aspernatur temporibus saepe sapiente laboriosam quo ducimus! Placeat eveniet fuga tenetur sapiente rerum, possimus eligendi deleniti reiciendis fugit?</li>
    <li>Nisi nam aperiam iure beatae enim numquam animi nostrum perspiciatis ducimus omnis amet culpa nobis placeat, est eos, eligendi labore reprehenderit. Maxime labore reprehenderit fugiat minima expedita provident ea possimus!</li>
    <li>Id quaerat qui similique voluptatum. Animi perspiciatis ad deleniti, ipsa et veniam debitis tempore fugiat rem commodi suscipit temporibus nesciunt, quibusdam repudiandae doloremque repellat, assumenda magnam cupiditate aliquid rerum itaque!</li>
    <li>Nihil iure, voluptatem ipsa sint illo rem magnam minima distinctio sunt commodi tempore facere, laboriosam quia cumque necessitatibus aspernatur sit itaque impedit maxime molestiae! Sequi rerum ab at odit labore!</li>
  </ul>
  <!-- Header -->
  <!-- three-cols -->
    <!-- Featured Article -->
    <!-- New Articles -->
  <!-- three-cols -->
    <!-- Popular Articles -->
</PrimaryLayout>
