<script>
    const navToggle = document.querySelector("[aria-controls='primary-nav']")
    navToggle?.addEventListener('click', () => {
        const navOpened = navToggle.getAttribute('aria-expanded');
        navToggle.setAttribute('aria-expanded', (navOpened === 'false') ? 'true': 'false');
    })
</script>

<header>
    <a href="#main-content" class="skip-to-main">Skip to main content</a>
    <h1 class="visually-hidden">TomDcoding Blog</h1>
    <a href="/" class="logo">
        <img src="/images/logo.svg" alt="Coding Wanderer logo" />
    </a>
    <button aria-controls="primary-nav" aria-expanded="false"> <!-- TODO: check it out -->
        <span class="visually-hidden">Menu</span>
        <img class="icon-hamburger" src="/images/icon-menu.svg" alt="">
        <img class="icon-close" src="/images/icon-menu-close.svg" alt="">
    </button>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Categories</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #f3f4f6;
        margin-block: /** TODO: check this out */
            clamp(1.5rem, 5vmax, 5rem)
            clamp(1.5rem, 5vmin, 2rem);
    }       
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: currentColor;

        &:hover, &:focus-visible {
            text-decoration: underline;
            color: var(--clr-accent-400);
        }
    }

    button {
        display: none;
        position: absolute;
        z-index: 10;
        right: 1rem;
    }

    @media (width < 750px) {

        button {
            display: block;
            position: absolute;
            z-index: 10;
            right: 1rem;
            padding: 1rem;
            background: transparent;
            border: 0;
        }

        nav {
            display: none;
        }

        
        [aria-expanded='false'] {
            .icon-close {
                display: none;
            }
        }

        [aria-expanded='true'] {
            .icon-hamburger {
                display: none;
            }
            
            .icon-close {
                display-block;
            }
        }

        [aria-expanded='true'] + nav {
            display: block;
            position: absolute;
            inset: 0;
            width: 80%;
            margin-left: auto;
            z-index: 1;
            background-color: var(--clr-neutral-100);
            box-shadow: 0 0 100vmax hsl(0 0 0 / 0.2);

            ul {
                margin-top: 20vh;
                margin-left: 3rem;
                display: grid;
                gap: 2rem;
                font-size: var(--fs-600);
            }

            a {
                color: var(--clr-neutral-900);
                &:hover,
                &:focus-visible {
                    color: var(--clr-accent-400);
                }
            }
        }
    }

    .skip-to-main {  /** TODO: Check it out */
        position: absolute;
        font-weight: var(--fw-bold);
        padding: 1em 3em;
        translate: -200%;

        &:hover,
        &:focus-visible {
            background-color: var(--clr-accent-400);
            color: var(--clr-neutral-900);
            translate: 0;
        }
    }

</style>