---
const {class:className} = Astro.props;
---
<h2 class="visually-hidden">Popular articles</h2>
<ul role="list" class:list={[className]}>
    <li>
        <article>
            <img src="/images/image-retro-pcs.jpg" alt="retro pcs" />
            <div class="flow">
                <h3>Reviving Retro PCs</h3>
                <p>What happens when old PCs are given modern upgrades? Explore the fascinating world of retro PC revival and see how classic machines can be brought back to life.</p>
            </div>
        </article>
    </li>
    <li>
        <article>
            <img src="/images/image-retro-pcs.jpg" alt="retro pcs" />
            <div class="flow">
                <h3>Reviving Retro PCs</h3>
                <p>What happens when old PCs are given modern upgrades? Explore the fascinating world of retro PC revival and see how classic machines can be brought back to life.</p>
            </div>
        </article>
    </li>
    <li>
        <article>
            <img src="/images/image-retro-pcs.jpg" alt="retro pcs" />
            <div class="flow">
                <h3>Reviving Retro PCs</h3>
                <p>What happens when old PCs are given modern upgrades? Explore the fascinating world of retro PC revival and see how classic machines can be brought back to life.</p>
            </div>
        </article>
    </li>
</ul>

<style>
    article {
        display: grid;
        gap: 1rem;
        grid-template-columns: 100px auto;

        > div {
            displa: grid;
            gap: .25rem;

            &::before {
                line-height: 1;
                content: counter(article-count, decimal-leading-zero);
                display: block;
                font-weight: var(--fw-semi-bold);
                font-size: var(--fs-700);
                color: var(--clr-accent-400);
            }
        }
    }

    ul {
        counter-reset: article-count;
    }

    li {
        counter-increment: article-count;
    }
</style>