---
import Header from '../components/Header.astro';
import '../style.css';
const {title = 'TomDcoding Blog' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Astro v1.0.0-beta.19">
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
  <title>{title}</title>
</head>
<body class="base-layout">
    <Header />
    <slot />
</body>
</html>
